name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - v[0-9]+
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Install Prettier
        run: npm install prettier
      - name: Install shfmt
        run: |
          "${GOROOT_1_17_X64}"/bin/go install mvdan.cc/sh/v3/cmd/shfmt@latest
          echo "${HOME}/go/bin" >>"${GITHUB_PATH}"
      - name: Install ShellCheck
        run: |
          sudo apt-get remove -y shellcheck
          tag="$(curl -fsSL --retry 10 https://api.github.com/repos/koalaman/shellcheck/releases/latest | jq -r '.tag_name')"
          curl -fsSL --retry 10 "https://github.com/koalaman/shellcheck/releases/download/${tag}/shellcheck-${tag}.linux.x86_64.tar.xz" \
            | tar xJf - --strip-components 1 -C /usr/local/bin "shellcheck-${tag}/shellcheck"
          shellcheck --version
      - run: shfmt -d $(git ls-files '*.sh')
        if: always()
      - run: npx prettier -c $(git ls-files '*.yml')
        if: always()
      - run: npx prettier -c $(git ls-files '*.js')
        if: always()
      - run: shellcheck $(git ls-files '*.sh')
        if: always()
